body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #1b232c, #647087);
    margin: 0;
    color: #aab7c4;
}

h1 {
    text-align: center;
    color: #c5cfd8;
    margin-bottom: 10px;
}

form {
    background-color: #08213d,#647087;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(99, 97, 97, 0.08);
    max-width: 960px;
    margin: auto;
    
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    
    /* Adds both row and column spacing */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* Adds vertical spacing between features */
}

label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #8c9dad;
    
}

select,
input[type="range"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #788894;
    border-radius: 6px;
    font-size: 15px;
    background-color: #b29d9d;
    transition: border-color 0.3s ease;
    text-align: center;
}

select:focus,
input[type="range"]:focus,
input[type="number"]:focus {
    border-color: #b29d9d;
    outline: none;
}

output {
    margin-top: 6px;
    font-weight: 500;
    color: #8c9dad;
}


button[type="submit"] {
    margin-top: 30px;
    padding: 14px 28px;
    font-size: 16px;
    background-color: #050708;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #005fa3;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.results {
    margin-top: 80px;
    
    padding: 20px;
    
    border-radius: 10px;
    font-size: 16px;
    max-width: 800px;
    margin-left: ;
    margin-right: ;
}